footer {
    background-color: #fff;
    padding-top: 5rem;
    padding-bottom: 1rem;
    color: #384463;
}

footer .col-md-6 h5 {
    font-family: var(--font-roboto);
    text-transform: uppercase;
    font-size: .875rem;
    border-bottom: 2px solid #384463;
}
footer .col-3 p {
    font-size: .8rem;
}
footer .list-unstyled li a {
    text-decoration: none;
    color: #384463;
    transition: all 0.3s ease-in-out;
}
footer .list-unstyled li a:hover {
    text-decoration: underline;
    color: #06213C;
}

footer .hashtag {
    font-family: var(--font-marker);
    font-size: 2rem;;
}